<launch>
	<group ns="turtlesim1">
		<node pkg="turtlesim" name="sim1" type="turtlesim_node">
			<rosparam param="background_r">128</rosparam>
			<rosparam param="background_g">128</rosparam>
			<rosparam param="background_b">0</rosparam>
		</node>
		<node pkg="software_training_assignment" name="sim2" type="spawnturtle" output="screen"/>
	</group>
</launch>
